.App {
    max-width: 60%;
    padding: 10px;
    width: 50%;
}

#generate {
    width: max-content;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.MuiCard-root {
    padding: 2em;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .App {
        width: 100%;
    }
    .flexContainer {
        width: 100%;
    }
}

.center {
    display: flex;
    justify-content: center;
}

.justifyContentEvenly {
    justify-content: space-between;
}

.contentContainer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.justifyContentEnd {
    justify-content: flex-end;
}

.adContainer {
    width: 10%;
}

.horizontalAdContainer {
    width: 100%;
}

.adImage {
    max-width: 100%;
}
